body {
    background-image: url('/assets/kbc_set.png');
    background-size: cover;
    /* Ensure the image covers the entire container */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    /* background-position: center; */
    background-size: cover;
    /* overflow: hidden; */
    background-color: #4B0082;
    /* Deep purple background */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Gill Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.center-align {
    text-align: center;
    margin-top: 20px;
}

.id-socket {
    margin-bottom: 5px;
}

.glassContainer {
    padding: 20px;
    background-color: #6a5acd5c;
    /* White background with 20% opacity */
    backdrop-filter: blur(10px);
    /* Apply blur to the background */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.147);
    /* Optional border to enhance the glass effect */
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Add some shadow for depth */
}

h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.create-btn {
    /* padding: 5px;
    border-radius: 5px;
    border-color: blanchedalmond;
    margin-left: 5px; */
}

.join {
    margin-top: 10px;

}

.create-input {
    border: none;
    padding: 10px;
    border-radius: 15px;
}


.margin {
    margin-top: 10px !important;
}

.marginLeft {
    margin-left: 10px !important;
}

.button-1 {

    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}

.create-input+.create-input {
    /* padding: 10px; */
    margin-left: 10px;
}

.info-box {
    max-width: 500px;
    background-color: #6a5acd5c;
    /* Slightly lighter purple */
    padding: 25px;
    margin: 10px 0;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 40px;
    box-shadow: 30px 18px 26px rgba(0, 0, 0, 0.2);
}

.info-box p {
    font-size: 25px;
    font-weight: 600;
}

.cta-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.info-box .cta-container button {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 16px;
    background: #d8b531;
}

.info-box .cta-container button {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 16px;
    background: #d8b531;
}

.single_p_button {
    cursor: pointer;
    padding: 20px;
    border-radius: 35px;
    outline: none;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    background: gold;
    box-shadow: 10px 10px 19px black;
}

.modal_play_button {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: gold;
    box-shadow: 10px 10px 19px rgba(255, 217, 0, 0.323);
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;

}

.image-container {
    background-color: #483D8B;
    /* Dark slate blue */
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-head {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Make sure it's on top */
}

.centeredDiv {
    z-index: 1001;
    display: flex;
    position: fixed;
    overflow-y: scroll;
    max-height: 90vh;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background: #000080;
    border: 2px solid gold;
    border-radius: 8px;
    padding: 0 50px 50px;
    /* max-width: 250px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modalHeader p {
    text-align: center;
}

.modalHeader .p1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: gold
}

.modalHeader .p2 {
    font-weight: bold;
    font-size: 1.0rem;
    color: white
}

.modalHeader .p2 table td {
    border: 1px solid rgba(255, 217, 0, 0.418);
    padding: 5px 15px;
}

.modalHeader .p2 li {
    text-align: left;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    /* Disable interactions with blurred content */
}

.info-box.glassContainer .inputs {
    margin-bottom: 10px;
}

.chat_window_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}